<div class="sideBar" [class.collapsed]="!isOpen">
  <button class="sideBar_button" (click)="toggleSideBar()">
    {{ isOpen ? '◀' : '▶' }}
  </button>

   <ul>
    <li>
      <span class="icon">📄</span>
      <span *ngIf="!isOpen" class="tooltip">Page 1</span>
      <span *ngIf="isOpen">Page 1</span>
    </li>
    <li>
      <span class="icon">📄</span>
      <span *ngIf="!isOpen" class="tooltip">Page 2</span>
      <span *ngIf="isOpen">Page 2</span>
    </li>
    <li>
      <span class="icon">📄</span>
      <span *ngIf="!isOpen" class="tooltip">Page 3</span>
      <span *ngIf="isOpen">Page 3</span>
    </li>
  </ul>
</div>
