<div class="studentlist-container">
  <!-- theHeader -->
  <div class="list-header">
    <h1>Students List</h1>
  </div>

  <div class="search-actions">
    <input type="text" placeholder="Search student name..." [(ngModel)]="searchName" />
    <div class="actions">
        <button class="btn filter" (click)="filterbyName()">Filter</button>
        <button *ngIf="showRefresh" class="btn refresh" (click)="refreshlist()" pTooltip="Return to original table" tooltipPosition="top"><i class="pi pi-refresh"></i></button>
        <button class="btn add" (click)="goToAddStudent()">Add new Student</button>
    </div>
  </div>

  <!-- fortheTable -->
  <div class="spinner-overlay" *ngIf="loading">
    <p-progress-spinner animationDuration=".5s" [style]="{width: '50px', height: '50px'}"/>
  </div>
    <p-table *ngIf="!loading" [value]="filteredStudents" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" sortMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="firstName">Name <p-sortIcon field="firstName"></p-sortIcon></th>
        <th pSortableColumn="dob">Date of Birth <p-sortIcon field="dob"></p-sortIcon></th>
        <th>Gender</th>
        <th>Program</th>
        <th pSortableColumn="schoolYear">School Year <p-sortIcon field="schoolYear"></p-sortIcon></th>
        <th pSortableColumn="yearSemester">Year & Semester <p-sortIcon field="yearSemester"></p-sortIcon></th>
        <th>Email</th>
        <th>Phone Number</th>
        <th pSortableColumn="homeAddress">Address <p-sortIcon field="homeAddress"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student let-i="rowIndex">
      <tr>
        <td>{{ student.firstName }} {{ student.lastName }}</td>
        <td>{{ student.dob | date: 'mediumDate' }}</td>
        <td>{{ student.gender }}</td>
        <td pTooltip="{{student.programClass}}" tooltipPosition="top">{{ student.programClass.length > 6 ? (student.programClass | slice: 0:6) + '...': student.programClass }}</td>
        <td>{{ student.schoolYear }}</td>
        <td pTooltip="{{student.yearSemester}}" tooltipPosition="top">{{ student.yearSemester.length > 6 ? (student.yearSemester | slice: 0:6) + '...': student.yearSemester }}</td>
        <td>{{ student.emailAddress }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td pTooltip="{{student.homeAddress}}" tooltipPosition="right">
          {{ student.homeAddress?.length > 5 ? (student.homeAddress | slice:0:5) + '...': student.homeAddress }}</td>
        <td>
          <div class="action-menu">
            <button class="btn action" (click)="popover.toggle($event)">
              <i class="pi pi-pen-to-square"></i>
            </button>

            <p-popover #popover>
              <div class="dropdown-menu">
                <button class="dropdown-item" (click)="goToEditStudent(student.id)">
                  <i class="pi pi-pencil"></i> Edit
                </button>
                <button class="dropdown-item deactivate" (click)="confirmDelete(student)">
                  <i class="pi pi-ban"></i> Delete
                </button>
              </div>
            </p-popover>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>